body {
    background-color: #d5eaf6;
    font-size: 16px;
    font-family: 'Hachi Maru Ppo', cursive;
    font-weight: 500;
    text-decoration: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

a {
    color: #96A8C8;
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0;
}

.box {
    background: white;
    border-style: solid;
    border-width: 1.5px;
    border-color: #071419;
    border-radius: 12px;
    padding: 20px;
}

#topContainer {
    width: 780px;
    position: relative;
    overflow: hidden;
    display: flex;
}

#topLeft {
    width: 166px;
    float: left;
    position: relative;
    text-align: left;
    padding: 17px;
    margin-right: 5px;
}

#topRight {
    width: 535px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    float: right;
    position: relative;
    text-align: left;
    line-height: 150%;
}

#middleContainer {
    width: 780px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background: white;
    border: 1.5px solid #071419;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#image {
    width: auto;
    height: 100%;
    object-fit: contain;
    border: 2px solid #ccc;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#bottom {
    margin-top: 5px;
    padding: 25px 15px;
    width: 750px;
}

.separator {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 0;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.no-bullets li {
    margin: 0;
}
