body {
    background-color: #d5eaf6;
    text-align: center;
    font-size: 16px;
    font-family: 'Hachi Maru Ppo', cursive;
    font-weight: 500;
    text-decoration: none;
    position: absolute;
	left: 50%;
	width: 780px;
	margin-left: -390px;
}

a {
    color: #96A8C8;
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0;
}

.box {
    background: white;
    border-style: solid;
    border-width: 1.5px;
    border-color: #071419;
    border-radius: 12px;
    padding: 20px;
}

#topContainer {
	width:780px;
	position:relative;
	overflow:hidden;
    display: flex;
}

#topLeft {
	width:166px;
	float:left;
	position:relative;
	text-align:left;
	padding: 17px;
	margin-right: 5px;
}

#topRight {
	width:535px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	float:right;
	position:relative;
	text-align:left;
	line-height: 150%;
}

#middleContainer {
	width:780px;
	margin: 5px  auto;
	padding: 10px 0;
}

img {
    width: 100%;
    height: 400px; 
    object-fit: cover;
    border: 2px solid #ccc;
    margin-bottom: 10px;
}
button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#bottom {
	margin-top:5px;
	padding:25px 15px;
	width:750px;
}

.separator {
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 5px 0; 
}
.no-bullets {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
.no-bullets li {
    margin: 0px 0;
}
